<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <link rel="shortcut icon" href="@Url.Content("~/Content/img/C%23.ico")" type="image/x-icon" />


    <link href="@Url.Content("~/Content/assets/loading/jquery.loadingModal.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/estilos.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/fontawesome-free/css/all.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/toastr/toastr.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/select2/css/select2.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/plugins/datatables/dataTables.bootstrap4.css")" rel="stylesheet" />

    <!-- Js Principal -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="@Url.Content("~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>


</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer" style="padding-top: 0px;padding-bottom: 2px;">
            <div class="container text-center">
                <div class="row justify-content-center">
                    <div class="col align-self-center">
                        <strong>
                            Tecnología desarrollada por  &nbsp;
                        </strong>
                        <strong><span class="text-danger">Alirio Márquez</span> </strong>
                    </div>
                    <div class="col-auto align-self-center">
                        <div class="btn-group" style="">
                            <a id="btnCerrarSession" href="@Url.Action("CerrarSession", "SocioNegocio")" class="btn btn-default btn-lg text-lg text-bold text-right"><i class="fas fa-sign-out-alt"></i> <span class="textoBoton"> Cerrar Sesión</span></a>
                        </div>
                    </div>
                </div>

            </div>
        </footer>
    </div>
    <script src="@Url.Content("~/Content/dist/js/main.js")"></script>
    <script src="@Url.Content("~/Content/plugins/toastr/toastr.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/sweetalert2/sweetalert2.min.js")"></script>
    <script src="@Url.Content("~/Content/plugins/datatables/dataTables.js")"></script>
    <script src="@Url.Content("~/Content/plugins/jquery-validation/jquery.validate.min.js")"></script>


    <script>
        var Toast = Swal.mixin({
            toast: true,
            position: 'center',
            showConfirmButton: false,
            timer: 3000
        });
        $(document).on('ajaxStart', function () {

            loading_show();
        });

        $(document).on('ajaxStop', function (start) {
            loading_hide();
        });

        function loading_show() {
            $('body').loadingModal({
                text: 'Por favor espere',
                animation: 'circle',
            });
            $('body').loadingModal('show');
        }

        function loading_hide() {
            $('body').loadingModal('hide');
        }


    </script>

    <!-- Loading -->
    <script src="@Url.Content("~/Content/assets/loading/jquery.loadingModal.js")"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
